<div class="bg-gray-100 lg:flex xl:justify-end">
  <div
    class="flex flex-col pt-4 pb-12 px-8 mx-auto max-w-xl lg:w-1/2 lg:py-24 lg:px-12 xl:ml-28 xl:pl-4 xl:mr-0"
  >
    <img
      class="rounded-lg shadow-xl object-cover object-center w-full mt-6 max-h-72 md:mt-8 lg:hidden"
      src="https://placehold.co/2693x1795/14213d/fca311?text=Hello+World&font=source-sans-pro"
      alt="Hero image"
    />
    <h3
      class="text-gray-900 text-2xl font-bold mt-6 leading-tight md:mt-8 md:text-4xl md:leading-tight lg:text-3xl lg:mt-8 lg:leading-tight xl:text-4xl xl:leading-tight"
    >
      You can work from anywhere.
      <br class="hidden lg:inline">
      <span class="text-indigo-500">Take advantage of it.</span>
    </h3>
    <p class="text-[#718096] mt-2 text-base md:mt-4 md:text-xl md:leading-normal">
      Workcation helps you find work-friendly rentals in beautiful locations so
      you can enjoy some nice weather even when you're not on vacation.
    </p>
    <button
      class="btn bg-indigo-500 text-white font-semibold w-fit mt-4 shadow-lg md:mt-6 md:text-base md:tracking-wider"
    >
      Book your escape
    </button>
  </div>
  <div class="hidden lg:block w-1/2 2xl:max-h-[492px]">
    <img
      class="w-full h-full object-cover object-center"
      src="https://placehold.co/2693x1795/14213d/fca311?text=Hello+World&font=source-sans-pro"
      alt="Hero image"
    />
  </div>
</div>
