<div class="bg-gray-100 flex flex-col pt-4 pb-12 px-8">
  <img
    class="rounded-lg shadow-xl object-cover object-center w-64 mt-6"
    src="https://placehold.co/2693x1795/14213d/fca311?text=Hello+World&font=source-sans-pro"
    alt="Hero image"
  />
  <h3 class="text-gray-900 text-2xl font-bold mt-6 leading-tight">
    You can work from anywhere.
    <span class="text-indigo-500">Take advantage of it.</span>
  </h3>
  <p class="text-[#718096] mt-2 text-base">
    Workcation helps you find work-friendly rentals in beautiful locations so
    you can enjoy some nice weather even when you're not on vacation.
  </p>
  <button
    class="uppercase bg-indigo-500 text-white font-semibold rounded-md py-3 px-5 w-fit inline-block mt-4 text-sm tracking-wide shadow-lg"
  >
    Book your escape
  </button>
</div>
